* {
    font-family: 'JetBrainsMono Nerd', monospace;
    font-size: medium;
    font-weight: normal;
    border-radius: 0px;
    outline-color: transparent;
    border: none;
    background-color: @theme_bg_color;
}

#outer-box {
    padding: 5px;
    border: 2px solid @wm_bg;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    background-color: transparent;
}

#scroll * {
    background: transparent;
}

#inner-box {
    background-color: transparent;
}

#input {
    margin: 5px;
    padding: 5px;
    border: none;
    color: @theme_fg_color;
    background: @wm_bg;
}

#input image {
    border: none;
    color: @theme_fg_color;
    background-color: transparent;
    padding-left: 5px;
}

#input * {
    outline: 4px solid @theme_fg_color!important;
}

#text {
    padding-left: 10px;
    color: @theme_fg_color;
}

#entry {
    margin: 0px 5px;
    padding: 5px;
    background-color: transparent;
}

#entry arrow {
    border: none;
    color: @theme_fg_color;
}

#entry:selected {
    background-color: @theme_selected_bg_color;
}

#entry:selected * {
    color: @theme_bg_color;
    background-color: transparent;
}

#entry:drop(active) {
    background-color: @theme_selected_bg_color!important;
}
