* {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.3rem;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

window#waybar {
    background: alpha(@theme_bg_color, .5);
    color: @theme_fg_color;
    border: solid 0.02rem @theme_selected_bg_color;
}

tooltip {
    background: @theme_bg_color;
}

#custom-logo,
#taskbar,
#workspaces,
#tray,
#clock,
#custom-notification {
    margin: 0.25rem 0rem;
    background-color: rgba(0, 0, 0, .30);
}

#taskbar,
#workspaces,
#tray,
#clock {
    padding: 0rem 0.4rem;
}

#workspaces button:hover,
#taskbar button {
    background-color: transparent;
}

#custom-logo {
    font-size: 1.1rem;
    color: aqua;
    padding-left: 0.45rem;
    padding-right: 0.6rem;
    margin-left: 0.5rem;
}

#taskbar button {
    padding-left: 0.4rem;
    padding-right: 0rem;
}

#workspaces button {
    margin: 0.05rem 0.2rem;
    padding: 0;
}

#workspaces button label {
    padding: 0rem 0.5rem 0rem 0.5rem;
}

#workspaces button.active label {
    color: @theme_selected_bg_color;
    border-bottom: solid 0.10rem @theme_selected_bg_color;
}

#clock {
    color: @theme_fg_color;
}

#custom-notification {
    margin-right: 0.5rem;
    padding: 0rem 0.6rem 0rem 0.5rem;
}