* {
    font-weight: 600;
    border-radius: 0.3rem;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

window#waybar {
    background: alpha(@theme_bg_color, .5);
    color: @theme_fg_color;
    border: solid 0.02rem @theme_selected_bg_color;
}

tooltip {
    background: alpha(@theme_bg_color, .9);
}

#custom-logo,
#custom-notification.none,
#custom-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-notification {
    font-size: 0rem;
    padding: 0rem 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#custom-notification.none,
#custom-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-notification {
    margin-right: 0.5rem;
}

#workspaces button:hover,
#taskbar button {
    background-color: transparent;
}

#taskbar button {
    padding-left: 0.4rem;
    padding-right: 0rem;
}

#clock {
    font-size: 1rem;
    padding: 0rem 0.4rem;
    color: @theme_fg_color;
}

#custom-logo {
    padding: 0rem 0.65rem;
    margin-left: 0.5rem;
    background-image: url('./icons/hyprland-logo.svg');
}

#workspaces {
    margin: 0.25rem 0rem;
    background-color: rgba(0, 0, 0, .30);
}

#workspaces button {
    margin: 0.05rem 0.2rem;
    padding: 0;
}

#workspaces button label {
    font-size: 1rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

#workspaces button.active label {
    color: @theme_selected_bg_color;
    border-bottom: solid 0.10rem @theme_selected_bg_color;
}

#custom-notification.none {
    background-image: url('./icons/notification-empty.svg');
}

#custom-notification {
    background-image: url('./icons/notification-new.svg');
}

#custom-notification.dnd-none {
    background-image: url('./icons/notification-disabled.svg');
}

#custom-notification.dnd-notification {
    background-image: url('./icons/notification-disabled-new.svg');
}