* {
    font-size: 0.85rem;
    font-weight: 600;
    border-radius: 0.3rem;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

window#waybar {
    background: @theme_bg_color;
    color: @theme_fg_color;
    border: none;
}

tooltip {
    background: @theme_bg_color;
}

#custom-logo {
    font-size: 1rem;
    color: aqua;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    margin-left: 0.2rem;
}

#workspaces button {
    margin: 0rem 0.2rem;
    padding: 0px;
    color: @theme_selected_bg_color;
}

#workspaces button:hover,
#taskbar button {
    background-color: transparent;
}

#workspaces button.active {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

#taskbar button {
    padding-left: 0.4rem;
    padding-right: 0rem;
}

#clock {
    padding: 0rem 0.4rem;
    color: @theme_selected_bg_color;
}

#custom-notification {
    color: @wm_icon_unfocused_bg;
    padding-left: 0.4rem;
    padding-right: 0.5rem;
    margin-right: 0.2rem;
}

#language {
    padding: 0rem 0.3rem;
    color: @STRAWBERRY_100;
}

#tray {
    padding: 0rem 0.3rem;
}

#pulseaudio.output,
#pulseaudio.input {
    padding: 0rem 0.3rem;
    color: @BLUEBERRY_300;
}

#network {
    padding: 0rem 0.3rem;
    color: @LIME_700;
}