* {
    background:     #1b2224;
    background-alt: #222b2e;
    foreground:     #ccd7d4;
    selected:       #2eb398;
    active:         #2eb398;
    urgent:         #FC4138;
    tbackground:  #1b222495;
}