* {
    font-weight: bolder;
    border-radius: 0px;
}

.control-center {
    color: @theme_fg_color;
    background: @theme_bg_color;
    border: 1px solid @borders;
}

.widget-title {
    font-size: 1rem;
    color: @theme_fg_color;
    padding: 5px 10px;
    margin: 15px 15px 10px 15px;
}

.widget-title button {
    font-size: 0.80rem;
    color: @theme_fg_color;
    background: transparent;
    border: 1px solid @borders;
}

.widget-title button:hover {
    color: @theme_bg_color;
    background: @theme_selected_bg_color;
}

.widget-dnd {
    padding: 5px 10px;
    margin: 15px 15px 10px 15px;
}

.widget-dnd label {
    font-size: 0.80rem;
    color: @theme_fg_color;
}

.widget-dnd>switch {
    color: @theme_fg_color;
    background: transparent;
    border: 1px solid @borders;
}

.widget-dnd>switch slider {
    background: @theme_bg_color;
    border: 1px solid @borders;
}

.widget-dnd>switch:checked {
    background: @theme_selected_bg_color;
}

.widget-dnd>switch:checked * {
    color: @theme_bg_color;
}

.notification {
    background-color: @theme_bg_color;
    border: 1px solid @borders;
}

.notification-background {
    background: transparent;
}

.notification-content {
    color: @theme_fg_color;
    background: @theme_base_color;
    border: 1px solid @borders;
    padding: 5px;
}

.notification-default-action:hover {
    background-color: @theme_bg_color;
}

.notification-action:hover {
    background-color: @theme_bg_color;
}

.summary {
    font-size: 1rem;
    color: @theme_fg_color;
    padding: 5px;
    border: none;
}

.body {
    font-size: 0.70rem;
    color: @theme_fg_color;
    margin-top: 5px;
    border: none;
    padding: 5px;
}

.time {
    font-size: 0.60rem;
    color: @theme_fg_color;
    padding: 5px;
    margin-right: 40px;
}

.close-button {
    min-width: 0.50rem;
    min-height: 0.50rem;
    color: @theme_fg_color;
    background: @theme_base_color;
    border: 1px solid @borders;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    color: @theme_bg_color;
    background: @theme_selected_bg_color;
    transition: all .15s ease-in-out;
}

.notification-group-icon {
    color: @theme_fg_color;
    padding: 5px;
}

.notification-group-header {
    color: @theme_fg_color;
    padding: 5px;
}

.notification-group-buttons button {
    color: @theme_fg_color;
    background-color: @theme_base_color;
}

.notification-group-buttons button:hover {
    color: @theme_bg_color;
    background-color: @theme_selected_bg_color;
    transition: all .15s ease-in-out;
}

.widget-mpris {
    color: @theme_fg_color;
    background: @theme_bg_color;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
}

.widget-mpris>box>button {
    border-radius: 5px;
}

.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px
}

.widget-mpris-player button:hover {
    background: @theme_selected_bg_color;
    color: @theme_fg_color;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem
}

.widget-mpris-subtitle {
    font-size: 1.1rem
}