* {
    font-family: monospace;
    font-weight: bold;
    border-radius: 0px;
}

#outer-box {
    border: 2px solid @wm_bg;
    padding: 0px;
}

#inner-box {
    margin: 0px;
    padding: 0px;
}

#input {
    margin: -1000px;
}

#entry {
    min-width: 50px;
    min-height: 50px;
    font-size: 1.50rem;
    margin: 5px;
    color: @theme_fg_color;
    background-color: @wm_bg;
}

#entry:selected {
    background-color: @theme_selected_bg_color;
}

#entry:selected * {
    color: @theme_bg_color;
    background-color: transparent;
}

#entry:drop(active) {
    background-color: @theme_selected_bg_color!important;
}